params {
    rename_path = '/home/user/annotation_nf/rename_fasta_by_length.py'
    rename_options = '--width 2 --prefix Chr'
    trnascan_modes = ['E', 'O'] // E: eukaryote, B: bacteria, A: archaea, O: other organellar, G: general
    trnascan_gff = '/home/user/annotation_nf/tRNAScan_SE_to_gff3.py'
    infernal_cm = '/home/user/data/db/rfam/Rfam.raw.cm'
    infernal_tblout2gff = '/home/user/annotation_nf/infernal-tblout2gff.pl'
    diamond_db = '/home/user/data/db/uniref90/uniref90.dmnd'
    diamond_options = '--sensitive --evalue 1e-5 --max-target-seqs 10 --query-cover 50 --subject-cover 50 --outfmt 6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore stitle'
    adddiamond2gffproduct = '/home/user/annotation_nf/adddiamond2gffproduct.py'
    addhypothetical2emptycds = '/home/user/annotation_nf/addhypothetical2emptycds.py'
    augustus_config_path = '/home/user/data/app/Augustus/config'
    braker_protseqfasta = '/home/user/download/EhProtSeqR68.faa'
    braker_species = 'enthis' // modify in every run
    fix_cmscan_gff = '/home/user/annotation_nf/fix_cmscan_gff.py'
}

profiles {
    standard {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'SGE'
            penv = 'def_slot'
            cpus = 4
            memory = '4 GB'
            clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G -l mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
            cache = 'deep'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
            maxRetries = 2
            maxForks = 30
            queueSize = 30            
        }
        conda {
            enabled = true
            autoActivate = true
        }
    }
}

process {
    withName: rename {
        conda = '/home/user/miniconda3/envs/seqkit'
        cpus = 4
        memory = { 8.GB * task.attempt }
    }
    withName: trnascan {
        conda = '/home/user/miniconda3/envs/trnascan'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: infernal {
        conda = '/home/user/miniconda3/envs/infernal'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: helixer {
        container = '/home/user/data/app/helixer/helixer-docker_helixer_v0.3.3_cuda_11.8.0-cudnn8.sif'
        containerOptions = '--bind /home/user --cleanenv'
        cpus = 4
        memory = { 20.GB * task.attempt }
    }
    withName: braker {      
        container = '/home/user/data/app/braker3.sif'
        containerOptions = '--bind /home/user --cleanenv'
        cpus = 8
        memory = { 24.GB * task.attempt }
        clusterOptions = { "-S /bin/bash -l lmem,s_vmem=${task.memory.toGiga()}G,mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
    }
    withName: gffread {
        conda = '/home/user/miniconda3/envs/gffread'
        cpus = 4
        memory = { 4.GB * task.attempt }
    }
    withName: diamond {
        conda = '/home/user/miniconda3/envs/diamond'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: summary {
        conda = '/home/user/miniconda3/envs/seqkit'
        cpus = 4
        memory = { 4.GB * task.attempt }
    }    
}
