params {
    customRepeats = 'custom repeats fasta file e.g. LINE and SINE sequences'
    // path to customRepeats dir needs to be add in containerOptions
}

tower {
  accessToken = ''
  workspaceId = ''
  enabled = false
}

profiles {
    standard {
        singularity.enabled = true
        singularity.autoMounts = true

        process {
            executor = 'SGE'
            penv = 'def_slot'
            cpus = '4'
            memory = '4 GB'
            clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G -l mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
            cache = 'deep'
            errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }
            maxRetries = 1
            maxForks = 30
            queueSize = 30      

            withName: 'repeatmasking' {
                cpus = '8'
                memory = { 24.GB * task.attempt }
                container = '/home/user/data/app/tetools_latest.sif'
                containerOptions = '--bind /home/user/data/db/linesine/'
                clusterOptions = { "-S /bin/bash -l lmem,s_vmem=${task.memory.toGiga()}G,mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
            }
        }
    }
}

