params {
    rdna   = 'path to the ribosomal RNA fasta file'
    fnadir = 'dir to input'
    gffdir = 'dir to input'
    join_product = 'path to join_product.py'
}

profiles {
    standard {
        process {
            executor = 'SGE'
            penv = 'def_slot'
            cpus = 4
            memory = '4 GB'
            clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G,mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
            cache = 'deep'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
            maxRetries = 2
            maxForks = 30
            queueSize = 30            
        }
        conda {
            enabled = true
            autoActivate = true
        }
    }
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

process {
    withName: fastp {
        cpus = 4
        memory = '8 GB'
    }
    withName: hisat2 {
        cpus = 4
        memory = '32 GB'
        clusterOptions = { "-S /bin/bash -l lmem,s_vmem=${task.memory.toGiga()}G,mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
    }
    withName: removerrna {
        cpus = 4
        memory = '8 GB'
    }
    withName: remapping {
        cpus = 4
        memory = '8 GB'
    }
    withName: remapping2 {
        cpus = 4
        memory = '8 GB'
    }
    withName: featurecount {
        cpus = 4
        memory = '8 GB'
    }
    withName: tpmcalc {
        cpus = 1
        memory = '64 GB'
        clusterOptions = { "-S /bin/bash -l lmem,s_vmem=${task.memory.toGiga()}G,mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
    }
}
